{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "proseWrap": "preserve",
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "jsxSingleQuote": false,
  "insertPragma": false,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "array-bracket-newline": "always",
  "array-bracket-spacing": "always"
}